.main-container {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #9c6060;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.wrap-box {
    background-color: rgb(245, 245, 245);
    min-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 2px 8px rgb(56 67 84 / 5%);
    border-radius: 4px;
    padding: 50px;
    align-items: center;
}

.text-center {
    text-align: center;
}

.top-header {
    font-size: 24px;
}

.text-color-gray {
    color: #6f6f71;
    letter-spacing: .5px;
    font-weight: 400;
}

.mark-box {
    border: 1px solid #faebcc;
    border-radius: 3px;
    background: #ff0;
    background-color: #fcf8e3;
    padding: .2em;
    color: #000;
}

.lang-list {
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
}

.lang-list-li {
    display: inline-block;
    margin: 15px;
}
